
#instruct {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0.15em;
    padding: 0;
}

li {
    border-radius:3px;
    border: 1px solid #e0e0e0;
    padding: 0.8em;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.25);
    text-transform: uppercase;
    margin-bottom: 1em;
    background-color: white;
}

.code {
    background: #924cc4;
    color: #fff;
    font-size: 0.9em;
    padding: 0.25em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.desc {
    font-size: 0.85em;
    margin-bottom: 0em;
    margin-top: 0.2em;
    text-transform: none;
}

.submit-button {
    background: #924cc4;
    color: #fff;
    text-align: center;
    padding: 0.4em;
    margin: 0.4em;
    cursor: pointer;
    margin-top: 1em;

}

label {
    display: block;
    margin: 0;
    font-size: 0.9em;
    color: #4a1074;
}

input {
    display: block;
    margin-bottom: 0.4em;
    border: none;
}

.form {
    margin-left: 17%;
}

#x {
    text-align: right;
    margin-right: 0.5em;
    margin-bottom: 0;
    cursor: pointer;
    color: #4a1074;
}

.inputdesc {
    margin-bottom: 1.5em;
}

#coupons {
    text-align: center;
    color: white;
}