

._submit-overlay{
    position:fixed;
    width:300px;
    height:200px;
    top:50%;
    left:50%;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
    margin-left: -110px;
    margin-top: -120px;
    background:white;
    border: none;
    z-index: 9999999999999;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
  }

._submit-overlay label, input{
    margin: 7px;
    padding: 5px;
}

._submit-overlay h3 {
    margin: 10px;
    font-size: 18px;
}

._submit-overlay span {
    float: right;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

._submit-overlay button {
    padding: 5px 10px;
    font-size:13px;
    background: #924cc4;
    height: auto;
    color:white;
    font-family:sans-serif;
    line-height:20px;
    cursor: pointer;
    margin: 15px;
    border: none;
    border-radius: 3px;
}

._coupon__list h1{
    color: #cfa5ec;
    font-family: sans-serif;
    font-size:26px;
    margin-bottom:20px;
    border-bottom:1px solid #eee;
    padding-bottom:15px;
    line-height:20px;
}

._coupon__list > div{
    padding: 5px 10px;
    font-size:10px;
    background: #b17cd6;
    height: auto;
    color:white;
    font-family:sans-serif;
    font-weight:normal;
    font-size: 14px;
    line-height:20px;
    border-radius:3px;
    cursor: pointer;
    bottom: 5px;
    margin-left: 100px;
    width: 98px;
    text-align: center;
}

._coupon__list p{
    font-family: sans-serif;
    line-height: 20px;
    font-size:16px;
    text-align:center;
    font-weight: 500;
    color: #0f0f0f;
    margin-top:20px;
}

._coupon__list #instruct{
    font-style:italic;
    font-size: 13px;
    margin: 2px;
}

._coupon__list #ethics{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

._coupon__list #ethicalrating {
    font-size: 18px;
    margin: 15px;
}

._coupon__list ul{
    list-style-type: none;
    margin: 20px;
    padding:0;
}

._coupon__list ul li{
    border-radius:3px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
    text-transform: uppercase;
    margin-bottom: 30px;
}

._coupon__list {
    height:400px;
    width:340px;
    border-radius:6px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
    border:1px solid white;
    background-image: url('chrome-extension://obmfpbkoalaejedfmjklbajnjdcmlmbj/images/KindKartLogo.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 80px;
    position: fixed;
    padding:15px;
    top:60px; right:5px;
    z-index:999999999; 
    overflow:hidden;
    overflow-y: auto;
}

._coupon__list .code{
    background: #924cc4;
    color: #fff;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}


._coupon__list li p{
    text-align:left;
    margin-top: 10px;
    margin:2px;
    text-transform: none;
    font-size:14px;
}

._coupon__list a{
    background-color: #955dbd;
    text-decoration: none;
    color: white;
    padding: 0.5em 1.0em;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
}

._coupon__list a:hover {
    background-color: #8344af;
}

._coupon__list a:active {
    background-color: #57227c;
}

._coupon__list a:hover {
    cursor: pointer;
}

._coupon__button{
    height:30px;
    width:30px;
    border-radius:5px;
    border:1px solid white;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25);
    cursor:pointer; 
    background-image: url('chrome-extension://obmfpbkoalaejedfmjklbajnjdcmlmbj/images/cart.png');
    background-size: cover;
    position:fixed; 
    top:15px; right:15px; 
    z-index:999999999; 
}